<!--
  Generated template for the CustomersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Customers</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <button ion-item *ngFor="let customer of (customers | async)?.Customers" (click)="openDetails(customer)">
      <h2>{{ customer.LogEpon }}</h2>
      <h3>ΑΦΜ: {{ customer.LogAfm }}</h3>
      <p>ΤΗΛ: {{ customer.Tel1 }}</p>
    </button>
  </ion-list>

</ion-content>
