<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-style" >
  <div class="homeDiv">

    <img width="100%" height="" src="assets/imgs/EscLogo.png" >
    <br/>
    <br/>
    <button ion-button menuToggle class="disable-hover button button-ios button-default button-default-ios button-block button-block-ios button-ios-primary">
        <span class="button-inner">Menu</span>
        <div class="button-effect"></div>
      </button>

  </div>

<!-- Test -->
</ion-content>
