<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>




<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="SignUpData.username" name="username" type="text" value="">{{SignUpData.username}}</ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Web Servive URL</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Records per page</ion-label>
      <ion-select [(ngModel)]="recordsPerPage">
        <ion-option value="5">5 Records</ion-option>
        <ion-option value="10">10 Records</ion-option>
        <ion-option value="25">25 Records</ion-option>
        <ion-option value="50">50 Records</ion-option>
        <ion-option value="100">100 Records</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label class="OfflineToggle"> Offline</ion-label>
        <ion-toggle checked="false"></ion-toggle>
      </ion-item>

  </ion-list>

    <button (click)="saveSettings()" block="" color="primary" class="disable-hover button button-ios button-default button-default-ios button-block button-block-ios button-ios-primary">
      <span class="button-inner">Save Settings</span>
      <div class="button-effect"></div>
    </button>
</ion-content>
